<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Robot Users</title>
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <nav>
    <a href="/">All Robots</a>
    <a class="employed"href="/looking/employed">Currently Employed</a>
    <a class="un_employed" href="/looking/unemployed">Currently Un-Employed</a>
  </nav>

  <body>

    <div class="container">


      {{{yield}}}
    </div>
  </body>
  </html>
