<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Robot Users</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <nav>
    <a class ="allRobots"href="/allUsers">All Robots</a>
    <a class="employed"href="/looking/employed">Currently Employed</a>
    <a class="un_employed" href="/looking/unemployed">Currently Un-Employed</a>
    <a class = "log_out" href="/logout">Log Out</a>
  </nav>

  <body>

    <div class="container">

      {{{yield}}}

    </div>
  </body>
  </html>
