{{#users}}
  <div class="profile_box">
    <div class="info-pic">

      <img src="{{avatar}}" alt="">
      <h1 class="profile_name">{{name}}</h1>
      <h3 class="job_country">{{address.city}} | {{address.country}}</h3>
      <h3 class="contact">{{email}} | {{phone}}</h3>
    </div>
    <div class="education">
      {{#university}}
      <h2 class= "university">Education: {{university}}</h3>
      {{/university}}
      {{^university}}
      <h2 class= "not_university"></h3>
      {{/university}}

      <h3 class= "skills">{{#skills}}{{.}}{{/skills}}</h3>

    </div>
  </div>
{{/users}}
