
<div class="login_block">

</div>
<form class="username" action="/login" method="post">

  <input type="text" name="username" value="" placeholder="Username">
  <input type="text" name="password" value="" placeholder="Password">
  <button type="submit" name="button">Submit</button>
</form>
  <button href = "/go_to_signup" type="submit" name="button">Sign-Up</button>
</div>
