
<div class="login">

</div>
<form class="username" action="/login" method="post">

<input type="text" name="username" value="" placeholder="Username">
<input type="text" name="password" value="" placeholder="Password">
<button type="submit" name="button">Submit</button>
</form>
<form class="" action="/go_to_signup" method="post">
<button type="submit" name="button">Sign-Up</button>
</form>
</div>
