
<div class="login_block">

<form class="username" action="/" method="post">

  <input type="text" name="username" value="" placeholder="Username">
  <br>
  <input type="text" name="password" value="" placeholder="Password">
  <br>
  <button type="submit" name="button">Submit</button>

</form>
<!-- <form class="signup_submit" action="/go_to_signup" method="post">
  <button id="signup" type="submit" name="button">Sign-Up</button>
</form> -->
<button id="signup"><a href="/signup">Signup</a></button>

</div>
