<div class="signup_block">

  <form class="signup" action="/signup" method="post">
    <br>
    <input type="text" name="username" value="" placeholder="Username">
    <br>
    <input type="text" name="password" value="" placeholder="Password">
    <br>
    <input type="text" name="name" value="" placeholder="Name">
    <br>
    <input type="text" name="avatar" src="https://robohash.org/rerumundequisquam.bmp?size=150x150&set=set1" placeholder="Avatar">
    <br>
    <input type="text" name="email" value="" placeholder="Email">
    <br>
    <input type="text" name="university" value="" placeholder="University">
    <br>
    <input type="text" name="job" value="" placeholder="Job">
    <br>
    <input type="text" name="company" value="" placeholder="Company">
    <br>
    <input type="text" name="skills" value="" placeholder="Skills">
    <br>
    <input type="tel" pattern = "xxx-xxx-xxxx" name="phone" value="" placeholder="Phone">
    <br>
    <input type="text" name="address" value="" placeholder="Address">
    <br>
    <input type="text" name="street_num" value="" placeholder="Street Number">
    <br>
    <input type="text" name="street_name" value="" placeholder="Street Name">
    <br>
    <input type="text" name="city" value="" placeholder="City">
    <br>
    <input type="text" name="state_or_province" value="" placeholder="State or Province">
    <br>
    <input type="text" name="postal_code" value="" placeholder="Postal Code">
    <br>
    <input type="text" name="country" value="" placeholder="Country">
    <br>
    <button type="submit" name="button">Submit</button>
  </form>
</div>
