a{
  text-decoration: none;
}
.allRobots{
  margin-left: 4vw;
  height: 2vw;
  font-size: 18pt;
  font-weight: bold;
  font-family: sans-serif;
}
.employed{
  font-size: 18pt;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 4vw;
  height: 2vw;

}
.signup_block{
  width: 100vw;
  height: 40vw;
  display: flex;
}
nav{
  width: 100vw;
  height: 2vw;
}
.log_out{
  font-size: 18pt;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 4vw;
  height: 2vw;
}
.un_employed{
  font-size: 18pt;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 4vw;
  height: 2vw;
}
.job{
  margin-bottom: 0;
  font-size: 12pt;
}
.job-2{
  color: red;
}
.name{
  border: none;
  text-decoration: none;
  outline: none;
  font-size: 20pt;
}
.company{
  text-decoration: none;
  margin-top: 0;
}
.picture{

  margin-left: 3vw;
  width: 16vw;
  height: 12vw;

}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  background: orange;
  width: 100vw;
  /*height: 250vw;*/
}
.info_pic{
  /*width: 100vw;*/

}
.profile_box{
  /*width: 100vw;*/
}

.box{
  padding-bottom: 2vw;
  padding-left: 2vw;
  padding-right: 2vw;
  width: 20vw;
  height: 20vw;
}
